{% extends "course/base.html" %} {% load static %}
{% block content %}
<section class="login-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 login-sec">
				<h2 class="text-center">Login Now</h2>
				<form class="needs-validation" method="POST" action="{% url 'login' %}">
					{% csrf_token %}
					<div class="form-group">
						<label for="id_username" class="text-uppercase">Username</label>
						<input class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username"
						 placeholder="Username" />
						 {% if form.errors %}
						 <div class="invalid-feedback">
							 Please enter a valid username
						 </div>
						 {% endif %}
					</div>
					<div class="form-group">
						<label for="id_password" class="text-uppercase">Password</label>
						<input class="form-control" type="password" name="password" required id="id_password" placeholder="Password" />
					</div>


					<!-- <div class="form-check">
						<button type="submit" class="btn btn-login">Login</button>
						<a class="form-text text-muted" href="{% url 'home-page' %}">Guest Lecturer Login</a>
					</div> -->
					<div class="d-flex justify-content-between">
						<button class="btn btn-login " type="submit">Login</button>
						<a class="form-text text-muted" href="{% url 'home-page' %}">Guest Lecturer Login</a>
					</div>

				</form>
				<!-- <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="http://grafreez.com">Grafreez.com</a></div> -->
			</div>
			<div class="col-md-8 banner-sec">
			</div>
		</div>
	</div>
</section>
{% endblock %}